<div style="text-align: center; background-color: #750E21; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  PROJECT: BUILDING AND MINING DATA WAREHOUSE üìå
</div>

<div style="text-align: center; background-color: #0766AD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
INTRODUCTION üìå
</div>

## Group Introduction

- Course: Information System For Business Intelligence
- Class: 21HTTT2
- Semester: 1/24-25
- Group ID: 2
- Group member: 
    - V√µ ƒêo√†n V∆∞∆°ng Th·ªãnh      (Student ID: 21127172  |  Email: vdvthinh21@clc.fitus.edu.vn)
    - Nguy·ªÖn L√™ Ho√†ng Kha      (Student ID: 21127512  |  Email: nlhkha21@clc.fitus.edu.vn)
    - Tr∆∞∆°ng Vƒ©nh Ph√∫c         (Student ID: 21127673  |  Email: tvphuc21@clc.fitus.edu.vn)
    - V≈© Minh Qu·ª≥nh            (Student ID: 21127682  |  Email: vmquynh21@clc.fitus.edu.vn)

## Planning

#### **1. List of tool(s):**
- GitHub: The group's common workspace, used to effectively manage the entire source code of the project. Follow detailed at https://github.com/Alexieve/Business-Intelligence
- Jira: The group's common workspace, used to assign work, manage and evaluate the level of completion
#### **2. List of Tasks**

**PHASE 1: DATA DESCRIPTION**
<table style="width: 100%; border-collapse: collapse;font-family: 'Trebuchet MS', Arial, sans-serif;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style=" background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Tasks</th>
      <th style="width: 200px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Assignee</th>
      <th style="min-width: 10px; width: 100px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">1</td>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">Describe meaning of the properties of the Data Sources.</td>
      <td style="font-size: 17px; text-align: left;">Qu·ª≥nh</td>
      <td style="font-size: 17px; text-align: left;">%</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">2</td>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">Push Data Sources into Stage</td>
      <td style="font-size: 17px; text-align: left;">Qu·ª≥nh</td>
      <td style="font-size: 17px; text-align: left;">%</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">3</td>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">Building Geography dimension with dimensional hierarchy</td>
      <td style="font-size: 17px; text-align: left;">...</td>
      <td style="font-size: 17px; text-align: left;">%</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">4</td>
      <td style="font-weight: bold; font-size: 17px; text-align: left;">Transform the datetime data to create the Date dimension with dimensional hierarchy</td>
      <td style="font-size: 17px; text-align: left;">...</td>
      <td style="font-size: 17px; text-align: left;">%</td>
    </tr>
  </tbody>
</table>

---

<div style="text-align: center; background-color: #0766AD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
REPORT üìå
</div>

In [1]:
import pandas as pd
import numpy as np
import os

<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding: 20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
  1. Pre-Processing and Data Description üî•
</div>

### üìù **Data Sources 1: Counties Data (`counties.csv`)**

In [2]:
df = pd.read_csv('../Data/uscounties.csv')
df.head()

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3219,-118.2247,9936690
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5225367
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3938,4726177
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4430871
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3289701

üìà We will remove column `lat` and `lng` since it does not have much meaning in this problem.\
‚û°Ô∏è So here are the remain columns in this dataset:

<table style="width: 100%; border-collapse: collapse;font-family: 'Trebuchet MS', Arial, sans-serif;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="width: 300px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Column Name</th>
      <th style="background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">1</td>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">county</td>
      <td style="font-size: 17px; text-align: left;">The name of the county.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">2</td>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">county_ascii</td>
      <td style="font-size: 17px; text-align: left;">County as an ASCII string.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #009A80; text-align: left;">3</td>
      <td style="font-weight: bold; font-size: 17px; color: #009A80; text-align: left;">county_full</td>
      <td style="font-size: 17px; text-align: left;">The full name of the county. Includs suffix of ("County", "City", "Borough", etc).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">4</td>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">county_fips</td>
      <td style="font-size: 17px; text-align: left;">The 5-digit FIPS code of the county. (The first two digits correspond to the state's FIPS code, last 3 digits represent county code.)</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">5</td>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">state_id</td>
      <td style="font-size: 17px; text-align: left;">The state or territory's USPS postal abbreviation.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">6</td>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">state_name</td>
      <td style="font-size: 17px; text-align: left;">The name of the state or territory that contains the county.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #00A9FF; text-align: left;">7</td>
      <td style="font-weight: bold; font-size: 17px; color: #00A9FF; text-align: left;">population</td>
      <td style="font-size: 17px; text-align: left;">An estimate of the county's population.</td>
    </tr>
  </tbody>
</table>

### üìù **Data Sources 2: Air Quality Data (`10_state_aqi_2021.csv`, `10_state_aqi_2022.csv`, `10_state_aqi_2023.csv`)**

First, we need to combine all **Air quality data** into 1 file.

In [3]:
# Get the list of all the aqi state data files
state_aqi_files = os.listdir('../Data/Air_Quality_Data')

# Read all the state aqi data files into a list
state_aqi_data = []
for data_file in state_aqi_files:
    state_aqi_data.append(pd.read_csv(f'../Data/Air_Quality_Data/{data_file}'))

In [4]:
# Concatenate all the state aqi data into a single dataframe
df = pd.concat(state_aqi_data)

# Rename the columns
df.rename(columns={ 'State Name': 'state_name',
                    'county Name': 'county_name',
                    'State Code': 'state_code',
                    'County Code': 'county_code',
                    'Date': 'date',
                    'AQI': 'aqi',
                    'Category': 'category',
                    'Defining Parameter': 'defining_parameter',
                    'Defining Site': 'defining_site',
                    'Number of Sites Reporting': 'number_of_sites_reporting',
                    'Created': 'created',
                    'Last Updated': 'last_updated'}, inplace=True)

Then, we will check the data is ok and check for object types and missing rows

In [5]:
df.head()

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting,created,last_updated
0,Alaska,Aleutians East,2,13,1/1/2021,7,Good,PM2.5,02-013-0002,1,1/1/2021 16:30,12/31/2021 23:12
1,Alaska,Aleutians East,2,13,1/4/2021,8,Good,PM2.5,02-013-0002,1,1/4/2021 16:30,12/31/2021 23:12
2,Alaska,Aleutians East,2,13,1/7/2021,11,Good,PM2.5,02-013-0002,1,1/7/2021 16:30,12/31/2021 23:12
3,Alaska,Aleutians East,2,13,1/10/2021,4,Good,PM2.5,02-013-0002,1,1/10/2021 16:30,12/31/2021 23:12
4,Alaska,Aleutians East,2,13,1/13/2021,4,Good,PM2.5,02-013-0002,1,1/13/2021 16:30,12/31/2021 23:12

In [6]:
# check for object types, missing rows and duplicates
df.info(), df.isnull().sum(), df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 194971 entries, 0 to 64989
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   state_name                 194971 non-null  object
 1   county_name                194971 non-null  object
 2   state_code                 194971 non-null  int64
 3   county_code                194971 non-null  int64
 4   date                       194971 non-null  object
 5   aqi                        194971 non-null  int64
 6   category                   194971 non-null  object
 7   defining_parameter         194971 non-null  object
 8   defining_site              194971 non-null  object
 9   number_of_sites_reporting  194971 non-null  int64
 10  created                    194971 non-null  object
 11  last_updated               194971 non-null  object
dtypes: int64(4), object(8)
memory usage: 19.3+ MB

(None,
 state_name                   0
 county_name                  0
 state_code                   0
 county_code                  0
 date                         0
 aqi                          0
 category                     0
 defining_parameter           0
 defining_site                0
 number_of_sites_reporting    0
 created                      0
 last_updated                 0
 dtype: int64,
 np.int64(2))

In [7]:
# date column to datetime 
df['date'] = pd.to_datetime(df['date'], format='mixed')
df['created'] = pd.to_datetime(df['created'], format='mixed')
df['last_updated'] = pd.to_datetime(df['last_updated'], format='mixed')

# remove duplicates
df.drop_duplicates(inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194964 entries, 0 to 64989
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   state_name                 194964 non-null  object
 1   county_name                194964 non-null  object
 2   state_code                 194964 non-null  int64
 3   county_code                194964 non-null  int64
 4   date                       194964 non-null  datetime64[ns]
 5   aqi                        194964 non-null  int64
 6   category                   194964 non-null  object
 7   defining_parameter         194964 non-null  object
 8   defining_site              194964 non-null  object
 9   number_of_sites_reporting  194964 non-null  int64
 10  created                    194964 non-null  datetime64[ns]
 11  last_updated               194964 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(4), object(5)
memory usage: 19.3+ MB

In [8]:
# Good: 0 - 50
# Moderate aqi: 51 - 100
# Unhealthy for Sensitive Groups: 101 - 150
# Unhealthy: 151 - 200
# Very Unhealthy: 201 - 300
# Hazardous: > 300

# mapping category value again base on above aqi value
df['category'] = df['aqi'].apply(lambda x: 'Good' if x >= 0 and x <= 50 else
                                    'Moderate' if x >= 51 and x <= 100 else
                                    'Unhealthy for Sensitive Groups' if x >= 101 and x <= 150 else
                                    'Unhealthy' if x >= 151 and x <= 200 else
                                    'Very Unhealthy' if x >= 201 and x <= 300 else
                                    'Hazardous')

In [9]:
df.value_counts('category')

category
Good                              121761
Moderate                           66330
Unhealthy for Sensitive Groups      4668
Unhealthy                           1656
Very Unhealthy                       423
Hazardous                            126
Name: count, dtype: int64

In [10]:
# export to new csv
df.to_csv('../Data/state_aqi_full.csv', index=False)

‚û°Ô∏è Here are the columns in this dataset:

<table style="width: 100%; border-collapse: collapse;font-family: 'Trebuchet MS', Arial, sans-serif;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="width: 300px; background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Column Name</th>
      <th style="background-color: #4E70BB; color: white; font-size :20px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">1</td>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">state_name</td>
      <td style="font-size: 17px; text-align: left;">The name of the state where the monitoring site is located..</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">2</td>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">county_name</td>
      <td style="font-size: 17px; text-align: left;">The name of the county where the monitoring site is located.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #009A80; text-align: left;">3</td>
      <td style="font-weight: bold; font-size: 17px; color: #009A80; text-align: left;">state_code</td>
      <td style="font-size: 17px; text-align: left;">The code of the state in which the monitor resides.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">4</td>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">county_code</td>
      <td style="font-size: 17px; text-align: left;">The code of the county in which the monitor resides.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">5</td>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">date</td>
      <td style="font-size: 17px; text-align: left;">The date when the air quality measurement was taken</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">6</td>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">aqi</td>
      <td style="font-size: 17px; text-align: left;">The Air Quality Index for the day for the pollutant, if applicable.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">7</td>
      <td style="font-weight: bold; font-size: 17px; color: #FFAA33; text-align: left;">category</td>
      <td style="font-size: 17px; text-align: left;">A descriptive rating of the air quality based on the AQI value.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">8</td>
      <td style="font-weight: bold; font-size: 17px; color: #FF0077; text-align: left;">defining_parameter</td>
      <td style="font-size: 17px; text-align: left;">The primary pollutant that determined the AQI value.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #00A9FF; text-align: left;">9</td>
      <td style="font-weight: bold; font-size: 17px; color: #00A9FF; text-align: left;">defining_site</td>
      <td style="font-size: 17px; text-align: left;">A identifier for the monitoring station. (StateCode-CountyCode-SiteID)</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">10</td>
      <td style="font-weight: bold; font-size: 17px; color: #7DCE13; text-align: left;">number_of_sites_reporting</td>
      <td style="font-size: 17px; text-align: left;">How many monitoring sites contributed data.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">11</td>
      <td style="font-weight: bold; font-size: 17px; color: #EAE509; text-align: left;">created</td>
      <td style="font-size: 17px; text-align: left;">The timestamp when the record was created in the database.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">12</td>
      <td style="font-weight: bold; font-size: 17px; color: #3081D0; text-align: left;">last_updated</td>
      <td style="font-size: 17px; text-align: left;">The timestamp when the record was last modified.</td>
    </tr>
  </tbody>
</table>

<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding: 20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
  2. Design data warehouse (DW) üî•
</div>

In [9]:
df[df['defining_parameter']=='PM2.5']

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting,created,last_updated
0,Alaska,Aleutians East,2,13,2021-01-01,7,Good,PM2.5,02-013-0002,1,2021-01-01 16:30:00,2021-12-31 23:12:00
1,Alaska,Aleutians East,2,13,2021-01-04,8,Good,PM2.5,02-013-0002,1,2021-01-04 16:30:00,2021-12-31 23:12:00
2,Alaska,Aleutians East,2,13,2021-01-07,11,Good,PM2.5,02-013-0002,1,2021-01-07 16:30:00,2021-12-31 23:12:00
3,Alaska,Aleutians East,2,13,2021-01-10,4,Good,PM2.5,02-013-0002,1,2021-01-10 16:30:00,2021-12-31 23:12:00
4,Alaska,Aleutians East,2,13,2021-01-13,4,Good,PM2.5,02-013-0002,1,2021-01-13 16:30:00,2021-12-31 23:12:00
...,...,...,...,...,...,...,...,...,...,...,...,...
64854,Virginia,Bristol City,51,520,2023-12-17,29,Good,PM2.5,51-520-0006,1,2023-12-17 16:30:00,2023-12-31 23:42:00
64855,Virginia,Bristol City,51,520,2023-12-20,36,Good,PM2.5,51-520-0006,1,2023-12-20 16:30:00,2023-12-31 23:42:00
64856,Virginia,Bristol City,51,520,2023-12-23,34,Moderate,PM2.5,51-520-0006,1,2023-12-23 16:30:00,2023-12-31 23:42:00
64857,Virginia,Bristol City,51,520,2023-12-26,40,Good,PM2.5,51-520-0006,1,2023-12-26 16:30:00,2023-12-31 23:42:00
64858,Virginia,Bristol City,51,520,2023-12-29,46,Good,PM2.5,51-520-0006,1,2023-12-29 16:30:00,2023-12-31 23:42:00